[defaults]
# (pathlist) Comma separated list of Ansible inventory sources
inventory=/home/automation/ex294/hosts
# (string) Sets the login user for the target machines
# When blank it uses the connection plugin's default, normally the user currently executing Ansible.
remote_user=automation
# (boolean) Set this to "False" if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
host_key_checking=false
# (pathspec) Colon separated paths in which Ansible will search for Roles.
roles_path=/home/automation/ex294/roles


[privilege_escalation]
# (boolean) Toggles the use of privilege escalation, allowing you to 'become' another user after login.
become=True
# (string) Privilege escalation method to use when `become` is enabled.
become_method=sudo
# (string) The user your login/remote user 'becomes' when using privilege escalation, most systems will use 'root' when no user is specified.
become_user=root
# (boolean) Toggle to prompt for privilege escalation password.
become_ask_pass=False


[persistent_connection]
# (int) This controls the amount of time to wait for response from remote device before timing out persistent connection.
command_timeout=30
# (integer) This controls how long the persistent connection will remain idle before it is destroyed.
connect_timeout=30
